@model RazorPages.Domain.Entities.Catalog

@{
    ViewData["Title"] = "Список товаров";
}

@foreach (var product in Model.GetProducts())
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="ProductInformation" asp-route-id="@product.Id">
        <div>
            <img alt="" src="@product.ImageSource">
            <ul>
                <li>Категория: @product.Category</li>
                <li>@product.Name</li>
                <li>Цена: @product.Price</li>
                <li>Осталось: @product.Stock</li>
            </ul>
        </div>
    </a>
}

